* {
    box-sizing: border-box;
}

li {
    display: inline-block;
    padding: 30px;
    margin: 10px;
    background-color: rgb(199, 199, 199);
    box-shadow: 7px 7px 9px 0px #333333;
    position: relative;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.btn {
    position: absolute;
    background-color: rgb(199, 199, 199);
    border: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
}

.btn:nth-of-type(1) {
    top: 0;
    right: 0;
    color: #ed2553;
}

.btn:nth-of-type(2){
    top: 0;
    left: 0;
    color: #3D9970;
}

.done {
    color: red;
}